<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
            <!-- <ion-img src="assets/icon/location.png"></ion-img>  -->
            <ion-text color="light" class="fw700">Live Trains</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-margin class="no-radius">
    <!-- <ion-item lines="none" color="medium"> -->
      <!-- <ion-label>
        <p class="text-11x no-margin">
          <ion-text  color="primary">{{yourLocation}}</ion-text>
        </p>
      </ion-label> -->
      <!-- <ion-button shape="round" fill="outline" size="small" color="primary" (click)="alertLocation()">
        Current Train
        <ion-icon name="train"></ion-icon>
      </ion-button> -->
      <ion-item style="font-size: small !important;">
            <ion-label>Current Train</ion-label>
    
            <ion-icon style="font-size: small !important;color: rgb(22, 206, 22) !important;" *ngIf="validateStatus" name="checkmark"></ion-icon>
            <ion-icon style="font-size: small !important;color: rgb(238, 10, 10) !important;" *ngIf="!validateStatus" name="help"></ion-icon>
        <ion-select  style="    margin-top: 5px !important;font-size: small !important;" [ngModelOptions]="{standalone: true}" [(ngModel)]="trainSelected"  placeholder="Select Train" (ionChange)=setLanguage($event)>
          <ion-select-option value="{{train._id}}" *ngFor="let train of allTrains">{{train.name}}</ion-select-option>
      </ion-select>
      <ion-icon name="train" [ngStyle]="{'color':((validateStatus) ? 'green' : 'red')}"></ion-icon>
      </ion-item>
    <!-- </ion-item> -->
  </ion-card>

  <ion-card class="bg-white">
      <ion-card>
          <ion-grid>
            <ion-row>
                <!-- <ion-col>
                    <b>Train No.</b>
                  </ion-col> -->
              <ion-col>
               &nbsp;&nbsp; <b>Train No.</b>
              </ion-col>
              <ion-col>
                  <b> Dep.</b>
              </ion-col>
              <ion-col>
                  <b>Arr.</b>
              </ion-col>
              <ion-col>
                  <b>Status</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
    <ion-card>
      <ion-grid>

          <ion-row *ngFor="let train of allLiveTrains">
              <ion-col>
     <ion-icon [ngStyle]="{'color':((train.isRunning) ? 'green' : 'red')}" class="blink" name="radio-button-on"></ion-icon>
     &nbsp; <b>NF001</b>
    </ion-col>
              <!-- <ion-col>

              </ion-col> -->
              <ion-col>
                  <b>{{train.short_start_time}}</b>
              </ion-col>
              <ion-col>
                  <b>{{train.short_end_time}}</b>
              </ion-col>
              <ion-col>
                  <b>{{train.crowd}}</b>
              </ion-col>
            </ion-row>



        <!-- <ion-row *ngFor="let train of allLiveTrains">
          <ion-col>
              <ion-row><b>{{train.name}}</b></ion-row>
              <ion-row>WE-123L</ion-row>
          </ion-col>
          <ion-col>
              <ion-row> <ion-icon name="radio-button-on"></ion-icon><b>{{train.short_start_time}}</b></ion-row>
          </ion-col>
          <ion-col>
              <ion-row><b>{{train.short_end_time}}</b></ion-row>
              <ion-row>Kandy</ion-row>
          </ion-col>
          <ion-col>
              <ion-row><b>{{train.shortre_end_time}}</b></ion-row>
              <ion-row>R</ion-row>
          </ion-col>
        </ion-row> -->
            
      </ion-grid>
    </ion-card>
    <ion-button expand="full" color="dark" (click)="presentImage(themeCover)" no-margin>
        <ion-icon color="danger" name="warning"></ion-icon>&nbsp;&nbsp;
        Emergency Report
    </ion-button>
  </ion-card>

  <ion-button margin shape="round" expand="full" color="secondary" (click)="searchFilter()">
    Modal 2: Search Filter
  </ion-button>
  
  <popmenu></popmenu>
</ion-content>
  