:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
    .sc-ion-card-md-h {
        font-size: 10px !important;
    }
    ion-img{
        width: 16% !important;
    }
    .blink {
        animation: blink 2s steps(5, start) infinite;
        -webkit-animation: blink 1s steps(5, start) infinite;
      }
      @keyframes blink {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink {
        to {
          visibility: hidden;
        }
      }
}