<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
              <!-- <ion-img src="assets/icon/location.png"></ion-img>  -->
              <ion-text color="light" class="fw700">Train Schedules</ion-text>
          </ion-text>
      </ion-title>
    </ion-toolbar>
    <ion-toolbar color="dark">
      <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
   <ion-card class="bg-white">
        <ion-card>
            <ion-grid>
              <ion-row>
                  <!-- <ion-col>
                      <b>Train No.</b>
                    </ion-col> -->
                <ion-col>
                 &nbsp;&nbsp; <b>Train No.</b>
                </ion-col>
                <ion-col>
                    <b> Dep.</b>
                </ion-col>
                <ion-col>
                    <b>Arr.</b>
                </ion-col>
                <ion-col>
                    <b>Status</b>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
      <ion-card>
        <ion-grid>
  
            <ion-row *ngFor="let train of allTrains">
                <ion-col>
       <ion-icon [ngStyle]="{'color':((train.isRunning) ? 'green' : 'red')}"  name="radio-button-on"></ion-icon>
       &nbsp; <b>NF001</b>
      </ion-col>
                <!-- <ion-col>
  
                </ion-col> -->
                <ion-col>
                    <b>{{train.short_start_time}}</b>
                </ion-col>
                <ion-col>
                    <b>{{train.short_end_time}}</b>
                </ion-col>
                <ion-col>
                    <b>{{train.crowd}}</b>
                </ion-col>
              </ion-row>
  
  
  
          <!-- <ion-row *ngFor="let train of allLiveTrains">
            <ion-col>
                <ion-row><b>{{train.name}}</b></ion-row>
                <ion-row>WE-123L</ion-row>
            </ion-col>
            <ion-col>
                <ion-row> <ion-icon name="radio-button-on"></ion-icon><b>{{train.short_start_time}}</b></ion-row>
            </ion-col>
            <ion-col>
                <ion-row><b>{{train.short_end_time}}</b></ion-row>
                <ion-row>Kandy</ion-row>
            </ion-col>
            <ion-col>
                <ion-row><b>{{train.shortre_end_time}}</b></ion-row>
                <ion-row>R</ion-row>
            </ion-col>
          </ion-row> -->
              
        </ion-grid>
      </ion-card>
      <!-- <ion-button expand="full" color="dark" (click)="presentImage(themeCover)" no-margin>
          <ion-icon color="danger" name="warning"></ion-icon>&nbsp;&nbsp;
          Emergency Report
      </ion-button> -->
    </ion-card>
  
    <!-- <ion-button margin shape="round" expand="full" color="secondary" (click)="searchFilter()">
      Modal 2: Search Filter
    </ion-button> -->
    
    <!-- <popmenu></popmenu> -->
  </ion-content>
    