:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
}

#map_canvas {
    width: 90%;
    height: 80%;
    border: 1px solid red;
  }
   
   
  #address {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
   
  #map {
    width: 100%;
    height: 70vh;
  }
   
  .map-wrapper {
    position: relative;
   
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -41px;
    }
  }