<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-title>Snake Game</ion-title>
          </div>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <div>
            <ion-badge style="cursor: pointer;" color="success">{{sortedUsersByScore.length}} Users</ion-badge>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="game-container" swipeAll (swipe)="swipeAll($event)">
    <div class="game-header">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-row><b style="font-size: 12px !important;">My Rank: {{myRank}}</b></ion-row>
                    <ion-row style="font-size: 12px !important;">Master Score : {{masterScore}}</ion-row>
                </ion-col>
                <ion-col>
                    <ion-row style="font-size: 12px !important;">My Current Score: {{myScore}}</ion-row>
                    <ion-row><b [ngClass]="{'new-best-score': newBestScore}" style="font-size: 22px !important;">  Score: {{score}}</b></ion-row>
                  </ion-col>
              </ion-row>
        </ion-grid>
        
      <!-- <h3 style="font-size: 12px !important;">My Rank: {{myRank}}</h3>
      <h3 style="font-size: 12px !important;">Master Score : {{myRank}}</h3>
      <div class="score-block">
        <h3 class="score" [ngClass]="{'new-best-score': newBestScore}">Score: {{score}}</h3>
        <h3 class="best-score" [ngClass]="{'new-best-score': newBestScore}">My Best Score: {{best_score}}</h3>
      </div> -->
    </div>
    <div class="row" *ngFor="let column of board; let i = index;">
      <div class="column" [ngStyle]="{'background-color': setColors(i, j)}" *ngFor="let row of column; let j = index"></div>
    </div>
    <div class="start-button" [ngClass]="{'disable-clicks': gameStarted}" (click)="showMenu()">Start Game</div>
    <div class="new-game-menu" *ngIf="showMenuChecker">
      <span class="new-game-menu-label">Select Mode</span>
      <div class="start-button new-game-button" (click)="newGame(mode)" *ngFor="let mode of getKeys(all_modes)">{{all_modes[mode]}}</div>
    </div>
  </div>
</ion-content>
